/*  ///////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    GitHub Blocks
    By: Virgilio D. Cabading Jr/
    Created: October 13, 2021
    ///////////////////////////////////////////////*/
    
    body {
        background-color: lightgray;
    }

    body>* {
        margin: 20px;
    }

    #top_container {
        background-color: skyblue;
        height: 250px;
    }

    #middle_container {
        background-color: peachpuff;
        height: 250px;
    }

    #bottom_container {
        background-color: whitesmoke;
        height: 250px;
    }

    h1 {
        text-align: center;
        /* font-style: bold; */
    }