/*  ///////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    GitHub Blocks
    By: Virgilio D. Cabading Jr/
    Created: October 13, 2021
    ///////////////////////////////////////////////*/
    
    body {
        background-color: grey;
    }